.landing-par {
  .landing-page {
    height: 65vh;
    margin-top: 12%;
    .header-page {
      opacity: 0;
      transform: translateY(80px);
      animation: fadeInUp 2.5s forwards;
    }
    .header-title h1 {
      font-size: 5rem;
    }

    .header-title::after {
      content: "";
      display: none;
    }

    .header-two {
      h2 {
        font-family: Rubik, sans-serif;
        font-size: 1.4rem;
        color: var(--color-slate-lightest);
        margin-bottom: 2%;
      }
    }

    a {
      text-decoration: none;
    }

    .landing-description {
      max-width: 60%;
      font-size: 1.3rem;
      margin-bottom: 2%;
      color: var(--color-slate);

      .work-link {
        color: var(--color-green);
      }
    }
    .resume-btn .btn-outline-primary {
      color: #986DFF !important;
      &:hover {
        background-color: #382d51 !important;
        color: #986DFF !important;
      }
      &:active {
        background-color: #fff !important;
        color: #986DFF !important;
      }
    }

    button {
      border-color: #986DFF;
      color: #986DFF;
    }

    .landing-description p {
      word-spacing: 7px;
    }
  }
}

@media screen and (max-width: 600px) {
  .landing-par {
    height: fit-content;
    .landing-page {
      padding-left: 5%;

      text-align: center;

      .header-title h1 {
        font-size: 2.5rem;
      }
      .header-two h2 {
        font-size: 1.5rem;
        color: var(--color-slate);
      }

      .landing-description {
        font-size: 1.2rem;
        max-width: 100%;
      }

      button {
        margin-top: 1.5rem;
        font-size: 1rem;
        color: var(--color-green);
      
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .landing-par {
    height: fit-content;
    .landing-page {
      padding-left: 5%;
      text-align: center;

      .header-title h1 {
        font-size: 2.5rem;
      }
      
      .header-two {
        h2 {
          font-size: 1.2rem !important;
          color: var(--color-slate);
        }
      }

      .landing-description {
        margin-top: 1rem;
      }

      .socials {
        display: none;
      }

      a {
        color: var(--color-green);
      }
    }
  }
}