.exp-mob {
  margin-bottom: 5%;

.accordion-item {


  background-color: transparent;

  .accordion-header {
    color: #0C0B16;
  }

  .accordion-button {
    &.collapsed {
      
      border-radius: 5px;
      color: var(--color-white);
    }

    &:focus,
    &:hover {
      color: var(--color-green);
    }

    &[aria-expanded="true"] {
      border-radius: 5px;
      background-color: rgba($color: #0C0B16, $alpha: 0.5);
      color: var(--color-white);
    }
  }

  .show {
    .accordion-header {
      color: var(--color-green);
    }

    .accordion-button {
      color: var(--color-green);
    }
  }
}

.role-title {
  a {
    color: #986DFF !important;
    text-decoration: none;
    
    &:hover {
      color: #986DFF !important;
      opacity: 0.8;
    }
  }
}

.role-description {
  a {
    color: #986DFF !important;
    text-decoration: none;
    
    &:hover {
      color: #986DFF !important;
      opacity: 0.8;
    }
  }
}

.accordion-button {
  background-color: #0C0B16;
  border: 1px solid #17161f;
  backdrop-filter: blur(10px);
  margin: 2px;
  border-radius: 5px;
}
.accordion-button {
  &.collapsed {
    img {
      width: 3rem;
      height: 3rem;
      margin-left: 10px;
      border-radius: 5px;
    }

    .exp-logo-white {
      width: 7rem;
      height: 1.8rem;
      margin-left: 10px;
      border-radius: 5px;
    }
  }

  &[aria-expanded="true"] {
    img {
      width: 3rem;
      height: 3rem;
      margin-left: 10px;
      border-radius: 5px;
    }

    .exp-logo-white {
      width: 7rem;
      height: 2rem;
      margin-left: 10px;
      border-radius: 5px;
    }
  }
}
}



@media screen and (max-width: 600px) {
  .exp-header h1 {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 10%;

 
  }
}


