@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:wght@100&family=Maven+Pro:wght@400;500&family=NTR&family=Outfit:wght@100&family=Rajdhani:wght@400;500&family=Roboto+Condensed:wght@300;400&family=Roboto+Mono:wght@300;400;500;600&family=Rubik:wght@400;500;600&family=Source+Code+Pro:wght@300;400&family=Space+Mono&display=swap');


html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;

  
}

a {
  text-decoration: none;
}
:root {
  --color-bg:#040615;
  --color-bg-light:#0C0B16;
  --color-green: #986DFF;
  --color-blue:#007bff;
  --color-slate:#8892b0;
  --color-slate-light:	#a8b2d1;
  --color-slate-lightest:#ccd6f6;
  --color-white:#fff;

}

h1 {
  position: relative;
  color: var(--color-white);
  font-size: 2.3rem;
}

section {
  border: 1px solid transparent;
}



body {

  color: var(--color-slate);
  line-height: 1.7;
  display: block;
  font-family: NTR, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--color-bg);
}




@keyframes fadeInUp {
  0% {
  opacity: 0;
  transform: translateY(20px);
  }
  100% {
  opacity: 1;
  transform: translateY(0);
  }
  }


  .item {
    animation: fadeInUp ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }

    